/* General Styling */
.navbar-custom {
  color: #153A5B;
  padding:5px;
  bottom: 15px;
}

.nav-links-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
}

.navbar-custom .nav-link {
  color: #153A5B;
  font-weight: 500;
  text-align: center;
  padding: 8px 12px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.navbar-custom .nav-link:hover {
  color: #0a2c45;
  background-color: aliceblue;
}

.logo-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-link {
  font-size: 24px;
  color: #153A5B;
  padding: 5px;
  background-color: transparent;
  border: none;
}

.custom-toggler {
  margin-left: 0;
}

.offcanvas-body-custom {
  color: black;
}

/* Responsive Styling */
@media (max-width: 800px) {
  .navbar-custom {
    margin: 0;
    padding: 0;
    z-index: 1;
  }

  .nav-links-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-link,
  .icon,
  .icon-link {
    background-color: #eaedf0;
    margin-left: 20px;
    width: 200px;
  }

  .icon-group {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
    background-color: #eaedf0;
    padding: 10px 0;
    gap: 20px;
    width: 200px;
  }

  .icon-link {
    font-size: 24px;
    width: 180px;
    position: relative;
    left: 50px;
  }
}
