.footer-container {
  width: 100%;
}

.foot {
  padding: 20px;
  background-color: #f7f7f7;
}

.subscribe-text {
  color: black;
  margin-top: 10px;
}

.subscribe-form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
  align-items: center;
}

.subscribe-form input {
  flex: 1;
  min-width: 250px;
  border-radius: 40px;
  padding: 10px 20px;
  height: 40px;
  border: 1px solid #ccc;
}

.subscribe-btn {
  text-decoration: none;
  color: black;
  background-color: #cbd3ec;
  width: 100px;
  border-radius: 20px;
  font-weight: 500;
  transition: background 0.3s;
}

.subscribe-btn:hover {
  background-color: #aabbe6;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  gap: 20px;
}

.footer-col {
  flex: 1;
  min-width: 180px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 10px;
}

.footer-col ul li a {
  text-decoration: none;
  color: black;
  font-size: 14px;
}

.footer-quote {
  flex: 1 1 250px;
  height: 260px;
  background-size:contain;
  background-position:right;
  background-repeat: no-repeat;
  border-radius: 20px;
  position: relative;
  left: -40px;



}

.quote-btn {
  position: absolute;
  bottom: 10px;
  height: 50px;
right: 40px;
  transform: translateX(-50%);

  color: white;
  padding: 12px 20px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: 500;
}


@media screen and (max-width: 768px) {
  .subscribe-form {
    flex-direction: column;
    align-items: stretch;
  }

  .subscribe-btn {
    align-self: center;
  }

  .footer-row {
    flex-direction: column;
    align-items: center;
  }

  .footer-quote {
    width: 50%;
    margin-top: 40px;
    border: 2px solid black;
  }
  .quote-btn {
 position: absolute;
 width: 70%;
 bottom: 0;
}
}
